dags/constant_values/api_login_data.py
dags/minio_s3_sensor_operator.py

logs/
venv/
.idea/
commands.txt
download/

minio_docker/
minio/open-sky-clean-data/
minio/open-sky-raw-data/
minio/.minio.sys/
minio/.minio.sys/buckets/